* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

a, /* remove tap highlight on mobile */
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent; /* remove tap highlight on mobile */
}
